@media only screen and (max-width: 602px){
    #activeListings {
        display: none;
    }
    #pastSales {
        display: none;
    }
    #about {
        display: none;
    }
    #search {
        display: none;
    }
}